@font-face{
    font-family: Open;
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenLight;
    src: url(fonts/Open_Sans/OpenSans-Light.ttf);    
}
@font-face {
    font-family: Express;
    src: url(fonts/Express.ttf);
}
* {
    font-family: Open;
}
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
    color: #000;
    font-family: "Lato", sans-serif;
}
.main-header {
    transition: margin-left .5s;
    position: fixed;
    width: 100vw;
    height: 5vw;
    background-color: #D1E1E2;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1vw;
}
.logo-letters {
    position: absolute;
    margin-left: 3vw;
    z-index: 1;
    height: 5vw;
    width: auto;
    float: left;
}
.menu-button {
    position: relative;
    top:0.8vw;
    left: 1vw;
    font-size: 2.5vw;
    color: #ffffff;
    text-shadow:1px 1px 3px black;
    cursor: pointer;
}
.sidenav {
    height: 100vw;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FCFCFC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6vw;
    box-shadow: 2px 2px 7px #6E6F6F;
}
.sidenav a {
    text-decoration: none;
    font-size: 1.5vw;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a:not(.closebtn) {
    padding: 2vw 2vw 0vw 2vw;
}
.sidenav .closebtn {
    position: absolute;
    text-align: right;
    right: 3vw;
    font-size: 3vw;
}
.sidenav-top {
    position: absolute;
    top: 0;
    background-color: #D1E1E2;
    transition: 0.3s;
    height: 5vw;
    padding: 1vw;
    width: 100%;
}
img.logo {
    position: relative;
    width: 5vw;
    height: 5vw;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #53b5aa;
}
.main-content {
    width: 100vw;
    margin-top: 9vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.notifications {
    position: relative;
    background-color: #E7FFBC;
    border: 2px solid white;
    padding: 1vw 1vw 1vw 2vw;
    margin-bottom: 1vw;
    width: 90%;
    display: block;;
    margin-left: auto;
    margin-right: auto;    
}
.notifications p {
    font-size: 1.5vw;
    font-family: OpenLight;
}

.notifications h2 {
    font-family: OpenLight;
    font-size: 2vw;
}

.notifications:hover {
    box-shadow: 1px 1px 8px #676C60;
}
footer {
    background-color: #000000;
    padding: 0;
    margin:0;
    color: #ffffff;
    text-align: right;
    padding: 1%;
}
footer h6 {
    font-size: 1vw;
    line-height: 0;
    padding: 0;
    margin: 1% 0 0 0 ;
    font-weight: 500; 
}
footer p {
    font-size: 0.9vw;
}


/* ADDED */
table{
	width: 100%;
}
section.products{
	padding: 2vw;
	background-color: #ffffff;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    margin-bottom: 2vw;
    border: 1px solid #efefef;
}
.products:hover {
    color: #000000;
}
.products img{
    box-shadow: 10px 6px 9px #f3f3f3;
	width: 17vw;
    height: 17vw;
    float: left;
}
.products aside{
    margin-left: 15vw;
	float: left;
    width: 30vw;
}
.products label.pname {
    font-family: Express;
	text-align: left;
    color: #303030;
    font-size: 2vw;
    font-weight: 700;
    background: #fcfcfc;
    padding: 1vw;
    width: 30vw;
    display: block;
    margin-bottom: 2vw;
}
.products label.qty-prc{
    font-size: 1.7vw;
    margin: 0;
}
.products p {
    color: #303030;
    font-size: 1.2vw;
}
input{
	width: 3.7vw;
	font-size: 1.2vw;
    color: #303030;
    padding: 0.8vw;
}
input.price {
    border: 0px;
    font-size: 1.4vw;
    font-weight: 600;
    padding: 0;
}
button.submit{
    float: left;
	background-color: #53b5aa;
    width: 10vw;
    height: 4vw;
	border: none;
	color: #efefef;
	padding: 2% 3%;
	font-size: 1.5vw;
	font-family: "YU Gothic UI";
	cursor: pointer;
    margin-top: 2vw;
}
button.submit:hover{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #d3d3d3;
	border: 2px solid #53b5aa;
	color: #303030;
    font-weight: 600;
	padding: 2% 3%;
	font-size: 1.5vw;
	font-family: "YU Gothic UI";
	cursor: pointer;
	transition: 0.4s;
}
table.summary {
    border-collapse: collapse;
}
th {
    text-align: left;
    background: #53b5aa;
    padding: 1vw;
    font-size: 1.5vw;
    
}
td.min-td {
    width: 5vw;
}
.summary td {
    background: #efefef;
    padding: 0.5vw;
    font-size: 1.3vw;
    width: 30vw;
}
.totals td {
    background: #C5C5C5;
}
.summary button {
    background: #8D8D8D;
    float: right;
}
@media screen and (max-width: 600px) {
    body {
        background: #efefef;
        padding: 0;
        margin: 0;
    }
    .main-header {
        height: 20vw;
        width: 100vw;
    }
    .menu-button {
        top: 3vw;
        margin-left: 1vw;
        font-size: 10vw;
        display: block;
        float: left;        
    }
    .logo-letters {
        width: 60vw;
        height: 20vw;
        margin-left: 10vw;
    }
    .sidenav {
        padding-top: 22vw;
        height: 100%;
        position: fixed;
    }
    .sidenav a {
        font-size: 5vw;
        margin: 2vw;
    }
    .sidenav-top {
        height: 20vw;
    }
    img.logo {
        height: 100%;
        width: auto;
    }
    .sidenav-top .closebtn {
        font-size: 10vw;
        right: 5vw;
    }
    .notifications {
        width: 90vw;
        margin-bottom: 2vw;
        border-radius: 20px;
    }
    .notifications h2 {
        font-size: 5vw;
    }
    .notifications p {
        font-size: 3vw;
    }
    .main-content {
        padding-top: 16vw; 
    }
    section.products {
        height: 80vw;
        border: 0.1vw solid #d3d3d3;
        border-radius: 2vw 10vw;
    }
    .products img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 35vw;
        height: 35vw;
        box-shadow: none;
    }
    .products label.pname {
        font-size: 5vw;
        margin-bottom: 3vw;
        margin-top: 3vw;
        width: 60vw;
    }
    .products label.qty-prc {
        font-size: 3.5vw;
    }
    .products aside {
        width: 60vw;
        margin-left: 10vw;
        display: block;
    }
    input {
        font-size: 3vw;
        width: 8vw
    }
    input.price {
        font-size: 3vw;
        width: 8vw;
    }
    button.submit {
        font-size: 4vw;
        width: 25vw;
        height: 10vw;
        margin-top: 3vw;
    }
    button.submit:hover {
        font-size: 4vw;
        font-weight: 700;
    }
    table.summary {
        width: 90vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .summary th {
        font-size: 3vw;
    }
    .summary td {
        font-size: 3vw;
    }
    .summary td{
        width: 0vw;
    }
}