@font-face{
    font-family: Open;
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenLight;
    src: url(fonts/Open_Sans/OpenSans-Light.ttf);    
}
@font-face {
    font-family: Express;
    src: url(fonts/Express.ttf);
}
@font-face {
    font-family: LuckiestGuy;
    src: url(fonts/LuckiestGuy.ttf);
}
* {
    font-family: Open;
}
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
    color: #000;
    font-family: "Lato", sans-serif;
}
.main-header {
    position: fixed;
    width: 100vw;
    height: 5vw;
    background-color: #D1E1E2;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1vw;
    box-shadow: 1px 2px 5px #eeeeee;
}
.logo-letters {
    margin-left: 3vw;
    z-index: 1;
    height: 5vw;
    width: auto;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #53b5aa;
}
section.showProducts {
    margin-top: 10vw;
    width: 100%;
}
section.product {
	padding: 2vw;
	background-color: #ffffff;
    width: 42.5vw;
    display: block;
    float: left;
    margin-bottom: 2vw;
    margin-left: 2vw;
    border: 0.1vw solid #efefef;
}
.product img {
    width: 15vw;
    height: 15vw;
    box-shadow: 10px 6px 9px #f3f3f3;
    float: left;
}
aside.details {
	float: left;
    margin-left: 5vw;
}
input.quantity {
    padding: 0.5vw;
    width: 3.5vw;
    font-size: 1.2vw;
    margin-left: 1vw;
    font-weight: 600;
}
h3.prodname {
    font-size: 1.6vw;
    background: #f7f7f7;
    width: 20vw;
    padding: 0.5vw;
    margin-bottom: 2.5vw;
    color: #404040;
}
.product label {
    font-size: 1.2vw;
    color: #202020;
}
.product strong {
    font-size: 1.4vw;
    margin-left: 0.2vw;
    color: #202020;
}
button.submit-btn{
    float: right;
	background-color: #53b5aa;
    width: 7vw;
    height: 3vw;
	border: none;
	color: #efefef;
	font-size: 1.2vw;
	font-family: "YU Gothic UI";
	cursor: pointer;
    margin-top: 4vw;
    margin-right: -1vw;
}
#showLog {
    width: 89vw;
    background: #ffffff;
    clear: both;
    float: left;
    margin-left: 2vw;
    padding: 3vw;
    display: block;
    border: 0.1vw solid #efefef;
}
table.displayLog {
    width: 50vw;
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    border: 0.1vw solid #efefef;
    float: left;
}
.displayLog th {
    background: #53b5aa;
    padding: 0.50vw;
    font-size: 1.3vw;
}
.displayLog td {
    padding: 0.50vw;
    font-size: 1.2vw;
}
.displayLog tr:nth-child(2n) {
    background: #efefef;
}
button.del-btn {
    float: right;
    background: #f44336;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1vw;
}
section.totals {
    width: 30vw;
    float: right;
    margin-top: 0;
}
.totals h3 {
    font-size: 1.5vw;
}
.totals p {
    font-size: 1.2vw;
}
.totals strong {
    float: right;
}
.totals strong::before {
    content: 'Php ';
}
button#checkout-btn {
    float: right;
    margin-top: 3vw;
    background: green;
    border: none;
    padding: 1vw;
    font-size: 1.3vw;
    color: #ffffff;
    cursor: pointer;
}

/**added**/
.showProducts h2 {
    font-size: 2.5vw;
    margin-left: 2vw;
    color: #404040;
    font-family: LuckiestGuy;
    font-weight: 500;
}
#circle-btn {
    background: #f3a09d;
    border: none;
    border-radius: 50%;
    text-align: center;
    padding: 9vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14vw;
    font-size: 1.5vw;
    color: #ffffff;
    cursor: pointer;
    width: 18vw;
}
#circle-btn:hover {
    box-shadow: 1px 1px 8px #676C60;
    color: #404040;
    transition: 1s;
}

@media only screen and (max-width: 360px){
    body{
        margin-top: 25vw;
    }
    .main-header {
        height: 22vw;
        top: 0;
        position: fixed;
        margin-top: -3vw; 
    }
    .logo-letters {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 13vw;
        margin-top: 5.3vw;
    }
    section.product {
        width: 92vw;
    }
    .product img {
        width: 30vw;
        height: 30vw;
    }
    .showProducts h2 {
        font-size: 6vw;
    }
    aside.details {
        width: 55vw;
    }
    h3.prodname {
        font-size: 6vw;
        width: 50vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }
    .product label {
        font-size: 4vw;   
    }
    .product strong {
        font-size: 4vw;
    }
    input.quantity {
        width: 8vw;
        font-size: 4vw;
    }
    button.submit-btn{
        float: right;
        background-color: #53b5aa;
        width: 19vw;
        height: 7vw;
        font-size: 4.5vw;
        margin-top: 3vw;
    }
    #showLog{
        width: 89.9vw;
    }
    #showLog h2{
        margin-top: 0vw;
        margin-bottom: 2vw;
    }
    table.displayLog {
        width: 90vw;
    }
    .displayLog th, .displayLog td {
        font-size: 3.5vw;
    }
    button.del-btn {
        font-size: 3vw;
    }
    section.totals {
        width: 88vw;
    }
    .totals h3 {
        font-size: 4vw;
    }
    .totals p {
        font-size: 3.5vw;
        line-height: 1;
    }
    button#checkout-btn {
        font-size: 4.5vw;
        padding: 2vw;
    }
    #circle-btn {
        border-radius: 50%;
        margin-top: 45vw;
        font-size: 5vw;
        width: 45vw;
    }
}

@media only screen and (max-width: 640px){
    body{
        margin-top: 10vw;
    }
    .main-header {
        height: 10vw;
        top: 0;
        position: fixed;
        margin-top: -3vw; 
    }
    .logo-letters {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 8vw;
        margin-top: 2.5vw;
    }
    section.product {
        width: 92vw;
    }
    .product img {
        width: 15vw;
        height: 15vw;
    }
    .showProducts h2 {
        font-size: 3.4vw;
    }
    aside.details {
        width: 71vw;
    }
    h3.prodname {
        font-size: 3.7vw;
        width: 50vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }
    .product label {
        font-size: 3vw;   
    }
    .product strong {
        font-size: 3vw;
    }
    input.quantity {
        width: 8vw;
        font-size: 3vw;
    }
    button.submit-btn{
        float: right;
        background-color: #53b5aa;
        width: 13vw;
        height: 6vw;
        font-size: 3.2vw;
        margin-top: 3vw;
    }
    #showLog{
        width: 89.9vw;
    }
    #showLog h2{
        margin-top: 0vw;
        margin-bottom: 2vw;
    }
    table.displayLog {
        width: 90vw;
    }
    .displayLog th, .displayLog td {
        font-size: 3vw;
    }
    button.del-btn {
        font-size: 3vw;
    }
    section.totals {
        width: 88vw;
    }
    .totals h3 {
        font-size: 3.7vw;
    }
    .totals p {
        font-size: 3vw;
        line-height: 1;
    }
    button#checkout-btn {
        font-size: 3.2vw;
        padding: 2vw;
    }
    #circle-btn {
        border-radius: 50%;
        margin-top: 45vw;
        font-size: 5vw;
        width: 45vw;
    }
    
}