@font-face{
    font-family: Open;
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenLight;
    src: url(fonts/Open_Sans/OpenSans-Light.ttf);    
}
@font-face {
    font-family: Express;
    src: url(fonts/Express.ttf);
}
* {
    font-family: Open;
}
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: #fdfdfd;
    color: #000;
    font-family: "Lato", sans-serif;
}
.main-header {
    transition: margin-left .5s;
    position: fixed;
    width: 100vw;
    height: 5vw;
    background-color: #D1E1E2;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1vw;
    box-shadow: 1px 2px 5px #eeeeee;
}
.logo-letters {
    position: absolute;
    margin-left: 3vw;
    z-index: 1;
    height: 5vw;
    width: auto;
    float: left;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #53b5aa;
}
.main-content {
    width: 100vw;
    margin-top: 9vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sub-content {
    position: relative;
    background-color: #E7FFBC;
    border: 2px solid white;
    padding: 1vw 1vw 1vw 2vw;
    margin-bottom: 1vw;
    width: 90vw;
    display: block;;
    margin-left: auto;
    margin-right: auto;    
}
.sub-content p {
    font-size: 1.5vw;
    font-family: OpenLight;
}
.sub-content h2 {
    font-family: OpenLight;
    font-size: 2vw;
}
.sub-content:hover {
    box-shadow: 1px 1px 8px #676C60;
}
section.showProducts {
    margin-top: 10vw;
    width: 100%;
}
section.product {
	padding: 2vw;
	background-color: #ffffff;
    width: 42.5vw;
    display: block;
    float: left;
    margin-bottom: 2vw;
    margin-left: 2vw;
    border: 0.1vw solid #efefef;
}
.product img {
    width: 15vw;
    height: 15vw;
    box-shadow: 10px 6px 9px #f3f3f3;
    float: left;
}
aside.details {
	float: left;
    margin-left: 5vw;
}
input.quantity {
    padding: 0.5vw;
    width: 3.5vw;
    font-size: 1.2vw;
    margin-left: 1vw;
    font-weight: 600;
}
h3.prodname {
    font-size: 1.6vw;
    background: #f7f7f7;
    width: 20vw;
    padding: 0.5vw;
    margin-bottom: 2.5vw;
    color: #404040;
}
.product label {
    font-size: 1.2vw;
    color: #202020;
}
.product strong {
    font-size: 1.4vw;
    margin-left: 0.2vw;
    color: #202020;
}
button.submit-btn{
    float: right;
	background-color: #53b5aa;
    width: 7vw;
    height: 3vw;
	border: none;
	color: #efefef;
	font-size: 1.2vw;
	font-family: "YU Gothic UI";
	cursor: pointer;
    margin-top: 4vw;
    margin-right: -1vw;
}
button.submit-btn:hover{
	display: block;
	background-color: #d3d3d3;
	border: 2px solid #53b5aa;
	color: #303030;
    font-weight: 600;
	font-size: 1.2vw;
	font-family: "YU Gothic UI";
	cursor: pointer;
	transition: 0.4s;
}
#showLog {
    width: 89vw;
    background: #ffffff;
    clear: both;
    float: left;
    margin-left: 2vw;
    padding: 3vw;
    display: block;
    border: 0.1vw solid #efefef;
}
table.displayLog {
    width: 50vw;
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    border: 0.1vw solid #efefef;
    float: left;
}
.displayLog th {
    background: #53b5aa;
    padding: 0.50vw;
    font-size: 1.3vw;
}
.displayLog td {
    padding: 0.50vw;
    font-size: 1.2vw;
}
.displayLog tr:nth-child(2n) {
    background: #efefef;
}
button.del-btn {
    float: right;
    background: #f44336;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1vw;
}
section.totals {
    width: 30vw;
    float: right;
    margin-top: 0;
}
.totals h3 {
    font-size: 1.5vw;
}
.totals p {
    font-size: 1.2vw;
}
.totals strong {
    float: right;
}
.totals strong::before {
    content: 'Php ';
}
button#checkout-btn {
    float: right;
    margin-top: 3vw;
    background: green;
    border: none;
    padding: 1vw;
    font-size: 1.3vw;
    color: #ffffff;
    cursor: pointer;
}